body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #e596bb;
    color: #b30070;
    text-align: center;
}

h1 {
    margin-top: 70px;
    color: rgb(255, 254, 241);
    font-size: 40px;
}

p {
    color: white;
    font-weight: 500;
    font-family: cursive;
    font-size: 20px;
}

h2 {

    color: white;
    font-size: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;

}

.game-box {
    background: rgba(206, 169, 59, 0.5);
    padding: 20px;
    border-radius: 60px 30px 50px 40px;
    margin: 15px 0;
}

button {
    width: 60px;
    height: 60px;
    margin: 3px;
    background: rgba(145, 233, 145, 0.6);
    color: rgb(33, 149, 155);
    border-radius: 50%;
    font-size: 25px;
    border: rgb(0, 0, 0) 2px solid;
}

button:hover {
    opacity: 0.85;
    transform: scale(1.2);
    color: aqua;
    background-color: rgb(198, 198, 114);
    border: black 3px solid;
}

.note {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    background: rgba(255, 240, 246, 0.9);
    border-radius: 30px;
    font-weight: 600;
}

.button_1 {
    width: fit-content;

    background: #ff77c4;
    color: white;
    border-radius: 12px;

    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 6px 16px rgba(255, 86, 189, 0.3);
}

.h_4 {
    display: flex;
    justify-content: space-around;
}

.h_4 {
    display: flex;
    justify-content: center;
}

.button_1 {
    display: block;
    margin: 10px 60px;
    width: 300px;
    padding: 30px;
    background: rgba(215, 45, 110, 0.5);
    color: rgb(236, 232, 167);
    border-radius: 35px;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 6px 16px rgba(10, 3, 7, 0.);
}

.button_1:hover {
    transform: scale(1.07);
    background: rgba(60, 69, 194, 0.5);
    color: red;
}

.flowers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.flowers span {
    position: absolute;
    top: -80px;
    font-size: 5%;
    opacity: 0.9;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(360deg) scale(1.5);
        opacity: 0;
    }
}