body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #e596bb;
    color: #b30070;
    text-align: center;
}


.flowers {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
}

.flowers span {
    position: absolute;
    top: -80px;
    font-size: 5%;
    opacity: 0.9;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(360deg) scale(1.5);
        opacity: 0;
    }
}

h1 {
    margin-top: 90px;
    color: rgb(255, 254, 241);
    font-size: 40px;
}

.container {
    max-width: 1050px;
    margin: auto;
    padding: 20px;

}

.game-box {
    background: rgba(206, 169, 59, 0.7);
    padding: 20px;
    border-radius: 60px 30px 50px 40px;
    margin: 15px 0;
}

.buttons_1 button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
    background-color: #e05c9a;
    transform: scale(1.05);
}




p {
    color: white;
    font-weight: 500;
    font-family: cursive;
    font-size: 20px;
}

h2 {

    color: white;
    font-size: 30px;
    animation: beat 1.5s infinite;
}




@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}





.h_4 {
    display: flex;
    justify-content: center;
}

.button_1 {
    display: block;
    margin: 10px 60px;
    width: 300px;
    padding: 30px;
    background: rgba(215, 45, 110, 0.5);
    color: rgb(236, 232, 167);
    border-radius: 35px;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    box-shadow: 0 6px 16px rgba(10, 3, 7, 0.);
}

.button_1:hover {
    transform: scale(1.07);
    background: rgba(60, 69, 194, 0.5);
    color: red;
}




#responseMessage {
    margin-top: 30px;
    font-size: 1.2em;
    color: #4CAF50; /* Green for success message */
}

.hidden {
    display: none;
}